<li class="bg-white shadow-md hover:-translate-y-2 duration-300 transition-all shadow-stone-600/5 ring-1 ring-black/5 p-3 group rounded-3xl app">

  <%= image_tag "apps/#{image}", class: "bg-white aspect-square group-hover:-translate-y-4 duration-300 transition-all -mt-8 mx-auto border border-stone-900/10 shadow-lg shadow-stone-600/10 w-40 rounded-3xl object-cover", alt: "#{name} Logo" %>

  <div class="text-center mt-3">
    <% if web_url.present? %>
      <%= link_to web_url, target: "_blank", class: "text-2xl inline-flex hover:text-amber-600 transition-all duration-100 gap-0 group items-center font-medium tracking-tight text-stone-700" do %>
        <%= name %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 group-hover:translate-x-1 transition-all duration-300">
          <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/>
        </svg>
      <% end %>
    <% else %>
      <h3 class="text-2xl font-medium tracking-tight text-stone-700"><%= name %></h3>
    <% end %>
    <p class="text-stone-500 leading-none text-sm"><%= app_category %></p>
  </div>

  <ul role="list" class="mt-4 flex [&>*]:flex-1 gap-1.5">
    <% if ios_url.present? %>
      <li class="flex justify-center">
        <%= render "download_button", path: ios_url, icon: "apple", aria: "Link to Apple App Store" %>
      </li>
    <% end %>
    <% if android_url.present? %>
      <li class="flex justify-center">
        <%= android_download_button(android_url) %>
      </li>
    <% end %>

    <% if source_url.present? %>
      <li class="flex justify-center">
        <%= render "download_button", path: source_url, icon: "github", aria: "Link to App code repository" %>
      </li>
    <% end %>
  </ul>
</li>
