<!DOCTYPE html>
<html lang="en">
<head>
  <title>Turbo Native Directory</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📱</text></svg>">
  <meta charset="utf-8">
  <meta name="description" content="Discover a directory of Turbo Native applications. Explore curated listings of web apps built with Turbo and find the latest innovations in mobile development.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "trix", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script defer data-domain="turbonative.directory" src="https://plausible.io/js/script.js"></script>
</head>

<body class="bg-stone-200">

<div class="flex flex-col">
  <nav class="max-w-7xl z-50 mx-auto w-full flex flex-col sm:flex-row gap-4 justify-between items-center px-5 pt-8">
    <div class="flex gap-2 flex-col sm:flex-row justify-center sm:justify-start items-center flex-1 shrink-0 w-full">
      <%= image_tag('logo.png', srcset: { "logo@2x.png" => "2x" }, class: "w-20 sm:w-28") %>
      <p class="text-base sm:text-2xl sm:leading-none font-black text-center sm:text-left sm:w-1/2 sm:max-w-sm sm:w-full leading-none">Native
        iOS/Android applications backed by web
        views</p>
    </div>

    <%= link_to "https://github.com/robzolkos/turbonativedirectory/issues/new", target: "_blank", class: "px-9 py-3 text-base hover:bg-amber-600 group transition-all duration-300 font-semibold bg-black text-white rounded-full gap-2 items-center inline-flex" do %>
      <span class="relative">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 -left-4 top-1/2 -translate-y-1/2 group-hover:scale-0 scale-100 absolute transition-all duration-100">
        <path d="M2 4.25A2.25 2.25 0 0 1 4.25 2h2.5A2.25 2.25 0 0 1 9 4.25v2.5A2.25 2.25 0 0 1 6.75 9h-2.5A2.25 2.25 0 0 1 2 6.75v-2.5ZM2 13.25A2.25 2.25 0 0 1 4.25 11h2.5A2.25 2.25 0 0 1 9 13.25v2.5A2.25 2.25 0 0 1 6.75 18h-2.5A2.25 2.25 0 0 1 2 15.75v-2.5ZM11 4.25A2.25 2.25 0 0 1 13.25 2h2.5A2.25 2.25 0 0 1 18 4.25v2.5A2.25 2.25 0 0 1 15.75 9h-2.5A2.25 2.25 0 0 1 11 6.75v-2.5ZM15.25 11.75a.75.75 0 0 0-1.5 0v2h-2a.75.75 0 0 0 0 1.5h2v2a.75.75 0 0 0 1.5 0v-2h2a.75.75 0 0 0 0-1.5h-2v-2Z"/>
      </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 -left-4 top-1/2 -translate-y-1/2 scale-0 group-hover:scale-100 absolute transition-all duration-200">
          <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"/>
        </svg>
      </span>
      <span>Add my app</span>
    <% end %>
  </nav>

  <main class="px-6 mt-10 grow">

    <%= yield %>

    <footer class="text-center my-12">
      ❤️ Made with love by
      <a href="https://twitter.com/robzolkos" target="_blank" class="text-amber-600 hover:text-amber-700">Rob Zolkos</a>
      and
      <a href="https://github.com/robzolkos/turbonativedirectory/graphs/contributors" target="_blank" class="text-amber-600 hover:text-amber-700">contributors</a>
      on
      <a href="https://github.com/robzolkos/turbonativedirectory/graphs/contributors" target="_blank" class="text-amber-600 hover:text-amber-700">Github</a>
    </footer>
  </main>
</div>

</body>
</html>
