<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Turbo Native Directory</title>
    <meta charset="utf-8">
    <meta name="description" content="Discover a directory of Turbo Native applications. Explore curated listings of web apps built with Turbo and find the latest innovations in mobile development.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-100">
    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Turbo Native Directory</h2>
          <p class="mt-6 text-lg leading-8 text-gray-600">Native iOS/Android applications backed by web views.</p>
        </div>

        <div class="mt-8 border rounded-lg shadow p-4 text-center bg-yellow-100 border-yellow-200 shadow-yellow-700 text-yellow-900">
          Don't see your app? <%= link_to "Add", "https://github.com/robzolkos/turbonativedirectory/issues/new", target: "_blank", class: "underline font-bold" %> it to the list.
        </div>

        <%= yield %>

        <footer class="text-center mt-12">
          ❤️ Made with love by <a href="https://twitter.com/robzolkos" target="_blank" class="text-blue-600 hover:text-blue-700">Rob Zolkos</a> and <a href="https://github.com/robzolkos/turbonativedirectory/graphs/contributors" target="_blank" class="text-blue-600 hover:text-blue-700">contributors</a> on <a href="https://github.com/robzolkos/turbonativedirectory/graphs/contributors" target="_blank" class="text-blue-600 hover:text-blue-700">Github</a>
        </footer>
      </div>
    </div>
  </body>
</html>
